{% extends "base.html" %}

{% block content %}

<h2>Добавить станцию</h2>

<form method="post">

    <p>
        <label>Код станции:</label><br>
        <input type="text" name="station_code" required>
    </p>

    <p>
        <label>Название станции:</label><br>
        <input type="text" name="station_name" required>
    </p>

    <p>
        <label>Город:</label><br>
        <input type="text" name="city" required>
    </p>

    <button type="submit">
        Добавить
    </button>

</form>

<p>
    <a href="/">Назад к списку</a>
</p>

{% endblock %}